body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
}

.pp {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;



}

.half-width img {
    width: 95%
}