body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.pp {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;

}

.half-width img {
    width: 95%
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.pro-level {
    color: orangered;


}

.web-developer {
    box-shadow: 10px 10px 40px slateblue;
    width: 40%;
    margin-right: 2%;
    margin-left: 5%;
    padding-left: 2px;
    padding-right: 2px;


}

.Experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#present {

    border-left: 7px solid tomato;


}

#past {
    border-left: 7px solid green;


}

footer p {
    text-align: center;
}